:root {
    --blue: #43729c;
    --light-blue: #62a6e2;
    --green: #b4c864;
    --ultra-dark-green: #808f46;
    --medium-green: #bacd71;
    --light-green: #dae4b2;
    --lighter-green: #ebf3ca;
    --lightest-green: #fcfff1;
    --grey: #bbc;
    --medium-grey: #ccdcdf;
    --light-grey: #ececef;
    --dark-grey: #80808f;
    --white: #fdfdfe;
    --real-white: #fff;
    --black: #333333;
    --black-ish: #505750;
    --card-background: #f5f5f5;
    --shadow-color: rgba(0, 0, 0, 0.25);
    /** Main **/
    --ink: var(--black);
    --ink-lighter: var(--black-ish);
    --background: var(--white);
    --primary: var(--blue);
    /** Widths **/
    --thumbnail-width: 120px;
    --thumbnail-height: 180px;
    --menu-width: 1220px;
    /** Fonts **/
    --body-font: 'Open Sans', Helvetica, sans-serif;
    --heading-font: 'Port Lligat Sans', Verdana, sans-serif;
    --alt-font: 'Port Lligat Slab', Verdana, sans-serif;
    /** Snipcart **/
    --color-buttonPrimary: var(--ink);
    --bgColor-buttonPrimary: var(--medium-green);
    --bgColor-buttonPrimary-hover: var(--ultra-dark-green);
    --shadow-buttonPrimary-hover: transparent;
    --shadow-default: transparent;
    --shadow-buttonDanger-hover: transparent;
    --color-icon: var(--light-blue);
    --color-link: var(--blue);
    --color-link-hover: var(--light-blue);
    --color-badge-active: var(--ink);
    --bgColor-badge-active: var(--medium-green);
    --borderColor-badge-active: var(--medium-green);
    --color-badge: var(--white);
    --bgColor-badge: var(--light-green);
    --borderColor-badge: var(--light-green);
    --bgColor-modal: var(--lightest-green);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    /* display: grid; */
    /* height: 100vh; */
    background-color: var(--background);
    color: var(--ink);
    accent-color: var(--primary);
    font-family: var(--body-font);
    font-size: clamp(1.5rem, 1.8vw + .2rem, 1.8rem);
    line-height: 1.5;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}

html[data-loading="true"] body:before {
    content: '';
    display: block;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--white);
    opacity: .6;
    pointer-events: none;
    touch-action: none;
}
html[data-loading="true"] body:after {
    content: '';
    display: flex;
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    margin-top: -30px;
    border-radius: 50%;
    border: 4px solid var(--grey);
    border-right-color: var(--real-white);
    box-shadow: 0 0 6px var(--shadow-color), 0 0 6px var(--shadow-color) inset;
    animation: spinner .8s linear infinite;
}


/* @media (min-width: 768px) {
    body {
        grid-template-rows: auto 1fr auto;
    }
} */

::-moz-selection,
 ::selection {
    background: var(--primary);
    color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: .5em 0;
    font-weight: 900;
    font-family: var(--heading-font);
}

h1 {
    font-size: clamp(2.3rem, 4vw + .4rem, 6rem);
    line-height: .9;
}

h2 {
    font-size: clamp(2.3rem, 4vw, 5rem);
    line-height: .9;
}

h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 300;
    color: var(--dark-grey);
}


/*** FORMS ***/

form label {
    display: none;
}

input,
textarea,
button {
    width: 100%;
    border: none;
    padding: .5em;
    margin: .5em 0 0 0;
    font-size: inherit;
    font-family: var(--body-font);
}

button {
    width: auto;
}

.button--hidden {
    background: inherit;
    color: inherit;
    appearance: none;
    margin: inherit;
    padding: inherit;
    border: inherit;
}

input[type="submit"] {
    color: inherit;
}

input:not([type="submit"]),
textarea {
    /* border: 1px solid var(--light-grey); */
    border-radius: 3px;
    background: var(--real-white);
}

.button {
    padding: 1px 1em;
    margin-top: 1em;
    border: 1px solid var(--medium-green);
    background-color: var(--medium-green);
    color: inherit;
    cursor: pointer;
}

.button:hover {
    background-color: var(--light-green);
    border-color: var(--light-green);
    text-decoration: none;
}


/*** Links ***/

a[href]:not(.button),
a[href]:not(.button):visited {
    color: var(--primary);
    text-decoration: underline;
    text-underline-offset: .15em;
    text-decoration-color: var(--secondary);
    text-decoration-thickness: .5px;
    transition: color .2s linear;
}

a[href]:not(:hover) {
    text-decoration: none;
}

a[href]:hover,
a[href]:focus {
    color: var(--secondary);
}

a[href]:focus {
    outline: 1px currntColor dotted;
}


/*** img, iframe, other embeds ***/

img,
iframe {
    max-width: 100%;
    height: auto;
}


/*** LAYOUT ***/

main {
    display: grid;
    grid-template-columns: 20px 1fr 1fr 20px;
    padding-bottom: 2em;
}

main>* {
    grid-column: 2 / 4;
    padding: 0 1rem;
}

.full-width {
    grid-column: 1 / -1;
    margin: 5rem 0;
    padding: 2rem 0;
}

.full-width--white {
    background: var(--secondary);
}

.full-width--padding {
    padding-inline: 2rem;
}

.aside {
    display: none;
}

@media (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: 1fr 300px minmax(320px, 780px) 1fr;
        margin-top: 5rem;
    }
    main>* {
        grid-column: 2 / 4;
        padding: 0 1rem;
    }
    .aside {
        display: block;
        grid-column: 2 / 3;
        margin-top: 1.5em;
    }
    .aside+section {
        grid-column: 3 / 4;
    }
}

.aside {
    align-self: start;
    margin-right: 3rem;
    padding: 2rem 2rem;
    background: var(--light-green);
}

.aside h3 {
    margin: 0 0 .5em;
    font-size: 2.4rem;
    color: var(--ultra-dark-green);
}

.aside .button:hover {
    background-color: var(--ultra-dark-green);
    color: var(--white);
}

.section-snippet {
    width: 100%;
    max-width: 65ch;
}

.section-collection {
    width: 100%;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 5rem;

    /* background: linear-gradient(-60deg,var(--white) 20%,var(--light-grey) ); */
}
@media (min-width: 40rem) {
    .section-collection {
        margin-top: 5rem;
        margin-bottom: 0;
    }
}

.section-collection .read-more {
    padding: 0 2rem;
}

.full-width > * {
    padding: 0 2rem;
}



/** Logo / Nav **/

.logo {
    display: block;
    margin: 0 auto;
    width: 18rem;
    height: 20rem;
    background: url('/static/img/logo.png'), linear-gradient(-30deg, var(--green), var(--medium-green), var(--light-green));
    background-size: 110px, 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: center 15px, 0 0;
    text-align: center;
    box-shadow: var(--shadow-color) 0 0 10px;
    z-index: 2;
}

.logo>h1,
.logo>h1 i {
    margin: 0;
    padding: 0;
}

.logo>h1 {
    font-family: var(--heading-font);
    text-transform: uppercase;
    color: var(--white);
    font-size: 4.1rem;
    padding-top: 14rem;
    font-weight: normal;
    line-height: .6;
}

.logo>h1 i {
    display: inline-block;
    font-style: normal;
    font-family: var(--alt-font);
    font-size: 2.3rem;
    color: var(--ink);
    text-transform: none;
}


/* Header Nav */

.main-nav {
    display: grid;
    grid-template-columns: calc(50% - 100px) 180px calc(50% - 100px);
    grid-template-areas: "nav logo search";
    align-items: flex-end;
    gap: 10px;
    padding: 0 1em 0 1em;
    max-width: var(--menu-width);
    margin: 0 auto;
}

.main-nav .logo {
    grid-area: logo;
}

.main-nav .primary-nav,
.main-nav .secondary-nav {
    font-family: var(--heading-font);
}

.main-nav .primary-nav {
    grid-area: nav;
    margin-bottom: 3rem;
    color: var(--primary)
}

.main-nav .secondary-nav {
    grid-area: search;
    justify-self: end;
    margin-bottom: 3rem;
    color: var(--primary)
}

.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav a[href] {
    color: inherit;
}

.main-nav a[href]:hover {
    text-decoration: none;
}

.main-nav a[href][data-current="current"] {
    color: var(--ink);
}

.main-nav .primary-nav>ul,
.main-nav .secondary-nav>ul {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
}

.main-nav .primary-nav>ul {
    justify-content: space-between;
}

@media screen and (min-width: 1020px) {
    .main-nav .primary-nav>ul {
        justify-content: flex-start;
        gap: 1em;
    }
}

.main-nav .primary-nav a[href] {
    font-weight: normal;
    font-size: 2rem;
}

.main-nav .primary-nav a[href]:hover,
.main-nav .secondary-nav a[href]:hover {
    color: var(--light-blue);
}

.main-nav .secondary-nav>ul {
    justify-content: flex-end;
    gap: 1.5rem;
}

.snipcart-checkout: {
    flex-grow: 0;
    font-family: var(--heading-font);
}

.inline-search {
    display: inline-flex;
    flex-flow: row;
    flex-wrap: wrap;
    padding: 0;
    color: var(--dark-grey);
}

.inline-search input {
    margin: 0;
    padding: 0;
    width: unset;
}

.inline-search [type="search"] {
    padding: 4px;
    padding-left: 3rem;
    border: none;
    box-shadow: 2px 2px 3px var(--light-grey) inset;
    background-color: var(--real-white);
    color: inherit;
    font-family: var(--body-font);
    border-radius: 5px;
    max-width: 22rem;
}

.inline-search [type="submit"] {
    display: none;
}

.inline-search .fa {
    position: absolute;
    margin-left: 5px;
    margin-top: 5px;
    pointer-events: none;
}


/* Mobile main-nav/menu */

@media screen and (max-width: 900px) {
    .main-nav {
        max-width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 180px 3rem 0;
        grid-template-areas: "logo" "space" "space";
        align-items: flex-start;
        justify-items: center;
        padding: 0;
    }
    .main-nav .menu-button {
        display: flex;
        flex-flow: row-reverse;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 1;
        position: absolute;
        top: 1rem;
        left: 1rem;
        width: 4rem;
        height: 4rem;
        /* outline: 1px var(--ink) solid; */
        font-size: 2.6rem;
        color: var(--grey);
    }
    .menu-button.menu-button--shoppingcart {
        left: unset;
        right: 2rem;
    }
    .snipcart-items-counter:empty+.snipcart-checkout {
        display: none;
    }
    .menu-button.menu-button--shoppingcart .snipcart-items-counter {
        margin-left: .5em;
    }
    .main-nav .menu-button i:nth-child(2) {
        display: none;
    }
    .main-nav .secondary-nav {
        display: none;
    }
    .main-nav .primary-nav {
        display: block;
        transform: translateX(-100%);
        transition: transform ease-in-out .2s;
    }
    .main-nav #menu-input:checked~.primary-nav {
        /* .main-nav #menu-input:checked ~ .secondary-nav { */
        transform: translateX(0);
    }
    .main-nav #menu-input:checked~.menu-button {
        color: var(--ink-lighter);
        position: fixed;
        z-index: 3;
    }
    .main-nav #menu-input:checked+.menu-button i:nth-child(1) {
        display: none;
    }
    .main-nav #menu-input:checked+.menu-button i:nth-child(2) {
        display: block;
    }
    .main-nav .primary-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: var(--light-green);
        color: var(--ink-lighter);
        min-height: 100vh;
        min-height: 100sh;
        z-index: 2;
    }
    .main-nav .primary-nav>ul {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-between;
        padding: 1em;
        min-height: 70vh;
    }
    .main-nav .primary-nav a[href]:hover {
        color: var(--real-white);
    }
}