article.book {
    border-bottom: 0;
    margin-bottom: 5rem;
}
@media (min-width: 500px) {
    article.book--small {
        margin-bottom: 2rem;
    }
}

.book {
    display: flex;
    flex-direction: column;
}

@media (min-width: 500px) {
    .book {
        flex-direction: row;
    }
}

.book a,
.book a:link,
.book a:visited {
    color: inherit;
}

.book__cover {
    width: 100%;
    max-width: var(--thumbnail-width);
    margin-right: 1em;
}

.book__body {
    flex: 1;
}

.book__author {
    margin: 1em 0 0 0;
    font-weight: bold;
}

.book__title {
    font-family: var(--body-font);
    color: var(--ink-lighter);
    font-size: 160%;
    line-height: 1.4;
    margin: 0;
    margin-bottom: .5em;
    font-weight: normal;
    /* line-height: 1.5; */
}

.book__meta {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
}

.book__meta dt,
.book__meta dd {
    margin: 0;
    padding: 0;
}

.book__isbn:after {
    content: ':';
}

.book__isbn+dd {
    color: var(--ink-lighter);
    margin-left: .25em;
}

.book__price {
    font-weight: 700;
    color: var(--ink-lighter);
    display: inline-block;
    margin-top: 1em;
}

.book__type {
    display: inline-block;
    color: var(--white);
    margin-left: 1em;
    background: var(--ultra-dark-green);
    font-size: 75%;
    padding: .25em .5em;
    border-radius: 1em;
}

.book__keywords {
    margin-top: 4rem;
}

.book__keyword a[href] {
    color: var(--primary);
}


/* BOOKLIST (only in --small atm.) */

.booklist--small {
    margin: 0;
    padding-block: 0;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

@media screen and (min-width: 52rem) {
    .booklist--small {
        gap: 1.5rem;
        grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    }
}

.booklist--small li {
    list-style: none;
}

.book--small {
    font-size: 1.5rem;
    line-height: 1.3;
    background: var(--card-background);
    height: 100%;
    border-radius: 6px;
    overflow: hidden;
}

.book--small {
    flex-direction: column;
    position: relative;
}

.book--small a {
    text-decoration: none;
}

.book--small a:hover .book__title {
    text-decoration: underline;
}

.book--small .book__cover {
    margin: 1em auto .5em;
    background: var(--background);
    min-width: var(--thumbnail-width);
    min-height: var(--thumbnail-height);
}

.book--small .book__cover img {
    min-width: 100%;
    display: block;
}

.book--small .book__body {
    padding: 0.5em;
}

.book--small .book__title {
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}

.book--small .book__price {
    font-weight: inherit;
    color: inherit;
    margin: .5em 0;
}

.book--small .snipcart-add-item {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 1.2rem;
    cursor: pointer;
    background: transparent;
    border: 2px var(--white) solid;
    border-radius: 6px 0 0 0;
    border-bottom: 0;
    border-right: 0;
    transform: translateX(95px);
    transition: all .15s ease-out;
    color: var(--dark-grey);
    font-size: 2.2rem;
}
.book--small .snipcart-add-item .label {
    /* font-size: 0; */
    margin-left: 15px;
    font-size: 1.6rem;
}
.book--small .snipcart-add-item:hover {
    color: var(--primary);
    transform: translateX(0);
    background: var(--white);
    border-color: var(--medium-grey);
    border-width: 1px;
}