<article class="book">

  <div class="book__cover">
  {%- if book.images|length %}
    {%- if link %}
      <a href="/books/{{ book.id }}">
    {%- endif %}
      <img src="{{ books.IMAGE_HOST }}/assets/{{ book.images[0].image_id.file }}" />
    {%- if link %}
      </a>
    {%- endif %}
  {%- endif %}
  </div>
  <div class="book__body">
    {%- if link %}
      <a href="/books/{{ book.id }}">
    {%- endif %}
      <h2 class="book__title">{{ book.title }}</h2>
      <div class="book__description">{{ book.description }}</div>
      <div class="book__author">{{ book.author }}</div>
      <div class="book__type">{{ book.type }}</div>
    {%- if link %}
      </a>
    {%- endif %}
    {% for keyword in book.keywords %}
      {% if keyword.keyword_id.visible %}
        <div class="book__keyword"><a href="/search/?keyword={{ keyword.keyword_id.id }}">{{ keyword.keyword_id.name }}</a></div>
      {% endif %}
    {% endfor %}

    <button class="snipcart-add-item"
      data-item-id="{{ book.id }}"
      data-item-price="{{ book.price }}"
      data-item-url="/books/{{ book.id }}"
      data-item-description="{{ book.description }}"

      data-item-quantity="1"
      data-item-min-quantity="1"
      data-item-max-quantity="1"

      data-item-custom1-name="WeightCategory"
      data-item-custom1-type="hidden"
      data-item-custom1-value="{{ book.weight }}">

      {%- if book.images|length %}
        data-item-image="{{ books.IMAGE_HOST }}/assets/{{ book.images[0].image_id.file }}"
      {%- endif %}
      data-item-name="{{ book.author }} {{ book.title }} ">
      Add to cart
    </button>
    {# <img src="book."> #}
    {# <pre>{{ book | dump }}</pre> #}
  </div>




</article>