<article class="book book--small">
  <a href="/books/{{ book.id }}">
    <div class="book__cover">
      {%- if book.images|length %}
        {% set url =  env.IMAGE_HOST + '/' + book.images[0].image_id.file %}
      {%- endif %}
      {%- if book.image %}
        {% set url =  env.IMAGE_HOST + '/' + book.image %}
      {%- endif %}
      {% if url %}
        <picture>
          <source type="webp" srcset="{{ url }}?fit=cover&amp;width=200&amp;height=300&amp;format=webp">
          <img role="presentation" src="{{ url }}?fit=cover&amp;width=200&amp;height=300&amp;format=jpg" alt="Cover image">
        </picture>
      {% endif %}
    </div>
    <div class="book__body">
        <div class="book__author">{{ book.author }}</div>
        <h2 class="book__title">{{ book.title }}</h2>
        <div class="book__price">{{ book.price | priceFormatter }}</div>
        <div class="book__type book__type--{{ book.type | slugify}}">{{ book.type }}</div>
    </div>
  </a>
  <button
    class="snipcart-add-item"
    title="Add to cart"
    data-item-id="{{ book.id }}"
    data-item-price="{{ book.price }}"
    data-item-url="/books/{{ book.id }}"
    data-item-description="{{ book.description }}"

    data-item-quantity="1"
    data-item-min-quantity="1"
    data-item-max-quantity="1"

    {#
    data-item-custom1-name="WeightCategory"
    data-item-custom1-type="hidden"
    data-item-custom1-value="{{ book.weight }}"
    #}

    data-item-custom1-name="BookType"
    data-item-custom1-type="hidden"
    data-item-custom1-value="{{ book.type }}"

    {%- if book.images|length %}
      data-item-image="{{ env.IMAGE_HOST }}/{{ book.images[0].image_id.file }}"
    {%- endif %}
    {%- if book.image %}
      data-item-image="{{ env.IMAGE_HOST }}/{{ book.image }}"
    {%- endif %}


    data-item-name="{{ book.author }} {{ book.title }} ">
    <span class="fa fa-cart-arrow-down"></span><span class="label">Add to cart</span>
  </button>
</article>