<article class="book">
  <h2 class="book-title">{{ book.title }}</h2>
  <div class="book-description">{{ book.description }}</div>
  <div class="book-author">{{ book.author }}</div>
  <div class="book-type">{{ book.type }}</div>
  {# <img src="book."> #}
  {%- if book.images|length %}
    <img src="http://localhost:8055/assets/{{ book.images[0].image_id.file  }}" />
  {%- endif %}
  <pre>{{ book | dump }}</pre>
</article>