{% set css %}{% include "assets/css/inline.css" %}{% endset %}
<head>
  <title>{{ title or metadata.title }}</title>
  {# <meta charset="utf-8"> #}
  {# <link rel="dns-prefetch" href="https://identity.netlify.com"> #}
  <link rel="preconnect" href="https://app.snipcart.com" />
  <link rel="preconnect" href="https://cdn.snipcart.com" />
  <link rel="preconnect" href="https://maxcdn.bootstrapcdn.com" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />

  <!-- @TODO DISABLE ROBOTS INDEXING THIS SITE LATER -->
  <meta name="robots" content="noindex">
  <!-- END -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ metaDescription or renderData.metaDescription or metadata.description }}">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Port+Lligat+Slab%7cPort+Lligat+Sans%7cOpen+Sans:300" rel="stylesheet" type="text/css">
  {# @TODO: remove Font Awesome. Change into SVG icons #}

  <style nonce="DYrHwYkbA29q">{{ css | cssmin | safe }}</style>
  <link rel="stylesheet" href="/css/main.css" />

  <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.3.1/default/snipcart.css" />
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <script async src="https://cdn.snipcart.com/themes/v3.3.1/default/snipcart.js"></script>
  <script type="module" src="/js/main.js"></script>
</head>
