{% set collection = bookcollections | findBy('id', item.id) %}

<section class="full-width section-collection section-collection--{{ item.title|slugify }}">
  {% set showLink = true %}
  {% include 'components/collection-intro.njk' %}

  {% set count = 0 %}
  {% set readMore = false %}
  <ol class="booklist booklist--small">
  {%- for bookItem in collection.books %}
      {% set book = bookItem.book_id %}
      {%- if book %}  {# book may be empty, when stock < 1 #}
        {% set count = count + 1 %}
        {%- if count < 11 %}
          <li>
            {% include 'components/book-small.njk' %}
          </li>
        {%- else %}
          {% set readMore = true %}
        {%- endif %}
      {%- endif %}
  {%- endfor %}
  </ol>

  {%- if readMore %}
    <p class="read-more"><a href="/collections/{{collection.title | slugify}}">Browse all books in this collection »</a></p>
  {%- endif %}
</section>