<section class="mailinglist-subscribe">
	<h1>Specimina Septimanalia</h1>
	<h2>Our Mailinglist</h2>
  <p>Enter your email address below to start receiving our mailinglist: <em>Specimina Septimanalia</em>, send&nbsp;approximately once every two weeks. Full of offers and rare new findings, it contains an ever changing glimpse of our vast collection.</p><p>You're invited to have a look at our previously sent editions!</p>

	{% include "components/mailinglist-form.njk" %}
</section>
