<div class="mailinglist-form">
    <form method="post" action="https://scrinium-classical-antiquity.email-provider.nl/subscribe/post/index.php" accept-charset="utf-8">
        <input type="hidden" name="next" value="https://scrinium.netlify.app/mailinglist/thanks">
        <input type="hidden" name="a" value="jz3vyivmlw">
        <input type="hidden" name="l" value="abtmxmepep">

        <label for="id-eN6MKeI0b2">Email address</label>
        <input placeholder="Email address" type="email" autocomplete="email" name="eN6MKeI0b2" id="id-eN6MKeI0b2" required="required">

        <label for="subscribe">Subscribe</label>
        <button type="submit" class="button">Subscribe</button>
    </form>
</div>