<nav>
  {#
    @FIXME

    collections.all is not available in serverless functions. @TODO: find out how/why
    The following should then be used instead:
    {% set navPages = collections.all | eleventyNavigation %}

    As an alternative, we use metadata.navPages instead.
  #}
  <ul>
  {%- for entry in metadata.navPages %}
    <li>
      <a href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
    </li>
  {%- endfor %}
  <li>
    <button class="snipcart-checkout button--hidden"><span class="snipcart-items-count"></span> <span class="snipcart-items-count-label">Item(s)</button>
  </li>
  <li>
    <form method="GET" action="/search/" class="inline-search">
      <input type="search" name="search" placeholder="Author, Title, ISBN" value="">
      <input type="hidden" name="hp" value="">
      <input type="submit" value="Search">
    </form>
  </li>
  </ul>
</nav>
