{% set current = specimina.pageNumber + 1 %}
{% set tag = pagination.items[0].tagName %}
{% set filtered = pagination | where("tagName", tag) %}


{# <pre>tag: {{ tag  }}</pre>
<pre>pagination:{{ pagination|dump }}</pre>
<pre>filtered:{{ filtered|dump }}</pre>
<pre>pageNumber:{{ specimina.pageNumber }}</pre> #}


<nav class="pagination" aria-labelledby="pager">
  <h3 id="pager">Page {{ (current) }} of <a href="{{filtered.href.last}}">{{ filtered.pages | length }}</a></h3>
  <ol>
    {# <li>{% if page.url != filtered.href.first %}<a href="{{ filtered.href.first }}">First</a>{% else %}First{% endif %}</li> #}
    <li>{% if filtered.href.previous and current != 1 %}<a  href="{{ filtered.href.previous }}">« Previous</a>{% else %}Previous{% endif %}</li>
{# {%- for pageEntry in filtered.pages %} #}
    {# <li><a href="{{ filtered.hrefs[ loop.index0 ] }}"{% if page.url == filtered.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>Page {{ loop.index }}</a></li> #}
{# {%- endfor %} #}
    <li>{% if filtered.href.next and current != filtered.pages | length %}<a href="{{ filtered.href.next }}">Next »</a>{% else %}Next{% endif %}</li>
    {# <li>{% if page.url != filtered.href.last %}<a href="{{ filtered.href.last }}">Last</a>{% else %}Last{% endif %}</li> #}
  </ol>
</nav>