<section class="section-usps">
    <h2>Why choose <em>Scrinium Classical Antiquity</em>?</h2>

    <ol>
        <li><i class="fa fa-globe"></i><span>Established in 1997, Scrinium has been selling and buying all around the world since.</span></li>
        <li><i class="fa fa-heart-o"></i><span>We are a small company and are known for our customer-friendliness.</span></li>
        <li><i class="fa fa-quote-right"></i><span>Perhaps some inspirational quote — some customer</span></li>
        <li><i class="fa fa-thumbs-o-up"></i><span>Why not put some thumbs up here?!</span></li>
    </ol>
</section>