---
eleventyComputed:
  title: "{{ collection.title }}"
pagination:
  data: booksPerCollection
  size: 1
  alias: collection
permalink: collections/{{ collection.tagName }}/{% if collection.pageNumber %}{{ collection.pageNumber + 1 }}/{% endif %}
---

<h3>{{ collection.subtitle }}</h3>
<div class="rte">{{ collection.description | safe }}</div>
<hr>

{% for book in collection.pageData %}
  {% set book = book.book_id %}
  {% include 'components/book.njk' %}
  {# {{ book | dump }} #}
{% endfor %}

{% include 'components/pagination-nav-collections.njk' %}
