---
eleventyComputed:
  title: "{{ collection.title + ' | ' + metadata.title if collection.title else metadata.title }}"
pagination:
  data: booksPerCollection
  size: 1
  alias: collection
permalink: collections/{{ collection.tagName }}/{% if collection.pageNumber %}{{ collection.pageNumber + 1 }}/{% endif %}
---

<section class="full-width section-collection section-collection--{{ collection.title|slugify }}">
  {% set item = collection %}
  {% set showLink = false %}
  {% include 'components/collection-intro.njk' %}
</section>

<section class="full-width">
  <ol class="booklist booklist--small">
    {% set link = true %}
    {% for book in collection.pageData %}
      {% set book = book.book_id %}
      {% include 'components/book-small.njk' %}
      {# {{ book | dump }} #}
    {% endfor %}
  </ol>
  {% include 'components/pagination-nav-collections.njk' %}
</section>