---
layout: layouts/base.njk
eleventyComputed:
  title: "{{ thePage.title + ' | ' + metadata.title if thePage.title else metadata.title }}"
  metaDescription: "{{ thePage.seo_description if thePage.seo_description else metadata.description }}"

pagination:
  data: pageItems
  size: 1
  alias: thePage # -- page is a reserved word, hence we use 'thePage' instead

permalink: "{{ thePage.slug + '/index.html' if thePage.slug else 'index.html' }}"

eleventyNavigation:
  key: "{{thePage.name }}"
  order: 0
---
{# {% set page = pageItems | findBy('name', 'Homepage') %} #}
{%- for component in thePage.items %}
  {% set item = component.item %}
  {% if item %}
    {% if component.collection === 'partials' %}
      {%- include 'components/' + item.name + '.njk' %}
    {% else %}
      {%- include 'components/homepage-section-' + component.collection + '.njk' %}
    {% endif %}
  {% endif %}
{%- endfor %}
