---
title: Search
metaDescription: This is a sample meta description. If one is not present in your page/post's front matter, the default metadata.desciption will be used instead.
date: 2017-01-01T00:00:00.000Z
permalink:
  build: /search/
  serverless: /search/

eleventyNavigation:
  key: Search
  order: 4

---
{% if fetchedBooks %}
  <h1>Search Results</h1>

  <div class="results">
    {{ fetchedBooks.meta.filter_count }} results found.
  </div>

  {% for book in fetchedBooks.data %}
    <a href="/books/{{ book.id }}">
    {% include 'components/book.njk' %}
    </a>
  {% endfor %}
  {% if fetchedBooks.nav %}
    <div class="pagination">
      {% if fetchedBooks.nav.previous %}
        <a href="{{ fetchedBooks.nav.previous }}">Previous page</a>
      {% endif %}
      {% if fetchedBooks.nav.next %}
        <a href="{{ fetchedBooks.nav.next }}">Next page</a>
      {% endif %}
    </div>
  {% endif %}
{% else %}
  <h1>No search results found</h1>
{% endif %}