---
metaDescription: This is a sample meta description. If one is not present in your page/post's front matter, the default metadata.desciption will be used instead.
date: 2017-01-01T00:00:00.000Z
permalink:
  build: /search/index.html
  serverless: /search-results

eleventyNavigation:
  key: Search
  order: 4

eleventyComputed:
  title: "{{  'Search Results' if fetchedBooks else 'Search' }}"


---
{% if fetchedBooks %}

  <div class="results">
    {{ fetchedBooks.meta.filter_count }} {{ 'result' if (fetchedBooks.meta.filter_count === 1) else 'results' }} found.
  </div>

  {% for book in fetchedBooks.data %}
    {# <a href="/books/{{ book.id }}"> #}
    {% set link = true %}
    {% include 'components/book.njk' %}
    {# </a> #}
  {% endfor %}
  {% if fetchedBooks.nav %}
    <div class="pagination">
      {% if fetchedBooks.nav.previous %}
        <a href="{{ fetchedBooks.nav.previous }}">Previous page</a>
      {% endif %}
      {% if fetchedBooks.nav.next %}
        <a href="{{ fetchedBooks.nav.next }}">Next page</a>
      {% endif %}
    </div>
  {% endif %}
{% else %}
  {# <h1>No search results found</h1> #}

  <form method="GET" action="/search-results/">
    <input type="author" name="author" placeholder="Author" value="">
    <input type="title" name="title" placeholder="Title" value="">
    <input type="isbn" name="isbn" placeholder="ISBN" value="">
    <input type="submit" value="Search">
  </form>
{% endif %}