---
eleventyComputed:
  title: Specimina Edition {{ specimina.tagName }} | {{ metadata.title }}
eleventyExcludeFromCollections: true
pagination:
  data: booksPerSpecimina
  size: 1
  alias: specimina
permalink: specimina/{{ specimina.tagName }}/{% if specimina.pageNumber %}{{ specimina.pageNumber + 1 }}/{% endif %}
---
<section class="full-width">
  <h2>Specimina {{ specimina.tagName }}</h2>
  <ol class="booklist booklist--small">
  {% for book in specimina.pageData %}
    <li>
      {% include 'components/book-small.njk' %}
    </li>
  {% endfor %}
  </ol>
</section>

<div>
  {% include 'components/pagination-nav-specimina.njk' %}
  <a href="/mailinglist/">Back to Specimina overview</a>
</div>